/* Basic */

body,
input,
select,
textarea {
    font-size: 11pt;
    letter-spacing: 0;
}

/* BG */

#bg {
    background-size: cover;
    background-position: center center;
}

#bg:after {
    background-size: 100% auto;
}

/* Header */

#header {
    padding: 2em 0 0 0;
}

#header h1 {
    font-size: 1.75em;
}

#header p {
    font-size: 0.9em;
    margin-top: 0.25em;
}

#header nav {
    font-size: 0.9em;
    margin: 1em 0 0 0;
}

#header nav li {
    margin: 0 0.25em;
    vertical-align: middle;
}

#header nav a {
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 0.5em;
}

#header nav a:before {
    font-size: 1.25em;
}

/* Footer */

#footer {
    padding: 1em 0;
    font-size: 0.85em;
}

@-moz-keyframes bg {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-750px, 0, 0);
        -webkit-transform: translate3d(-750px, 0, 0);
        -o-transform: translate3d(-750px, 0, 0);
        -ms-transform: translate3d(-750px, 0, 0);
        transform: translate3d(-750px, 0, 0);
    }
}

@-webkit-keyframes bg {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-750px, 0, 0);
        -webkit-transform: translate3d(-750px, 0, 0);
        -o-transform: translate3d(-750px, 0, 0);
        -ms-transform: translate3d(-750px, 0, 0);
        transform: translate3d(-750px, 0, 0);
    }
}

@-o-keyframes bg {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-750px, 0, 0);
        -webkit-transform: translate3d(-750px, 0, 0);
        -o-transform: translate3d(-750px, 0, 0);
        -ms-transform: translate3d(-750px, 0, 0);
        transform: translate3d(-750px, 0, 0);
    }
}

@-ms-keyframes bg {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-750px, 0, 0);
        -webkit-transform: translate3d(-750px, 0, 0);
        -o-transform: translate3d(-750px, 0, 0);
        -ms-transform: translate3d(-750px, 0, 0);
        transform: translate3d(-750px, 0, 0);
    }
}

@keyframes bg {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -moz-transform: translate3d(-750px, 0, 0);
        -webkit-transform: translate3d(-750px, 0, 0);
        -o-transform: translate3d(-750px, 0, 0);
        -ms-transform: translate3d(-750px, 0, 0);
        transform: translate3d(-750px, 0, 0);
    }
}